header{
    background: linear-gradient(90deg,#9bf3f3,rgb(196, 214, 218) );
    height: 50vh;
    
    padding-top: 50px;
    
    margin-bottom: 50px;
    
}
.preload{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 84, 90, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}
.astro{
    height: 200px;
    animation: astroo 1s ease-in-out infinite;
}
.preload-finish{
    opacity: 0;
    pointer-events: none;

}
@keyframes astroo{
    from{
        transform: translateY(0px);
    } 

    to{
        transform: translateY(50px);
    }

}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}
.banner-2{
    background: linear-gradient(37deg,#9bf3b1,rgb(249, 251, 252) );
    height: 50vh;
    margin-top: 50px;
    padding-top: 50px;
    
    margin-bottom: 50px;
}
.cover{
    background-color: #92999f9f;
    height: 35vh;
    
  
    
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.specialization{
    margin-top: 75px;
    
}
.specialization .container .row{
    padding: 30px;
}
.specialization .card-top{
    background: linear-gradient(47deg,pink,white);
     height: 150px; 
     text-align: center;
     padding: 15px;
     border-top: 2px solid black;
     
     justify-content: center;
     align-items: center;
}




.specialization .card-top:hover{
    background: rgb(253, 253, 253);
    border-top: 5px solid rgb(36, 187, 56);
    box-shadow: 0 10px 20px -5px rgba(115, 133, 128, 0.87);
}

.specialization .card-top img{
    width: 100px;
    height: 100px;
    float: right;
}
.specialization .card-top .card-title{
    margin-top: 50px;
}



.course-en{
    margin-top:70px ;
}
.course-en h1{
    text-align: center;
}
.course-en .container{
    border-radius: 25px;
    overflow-y: scroll;
    height: 100vh;
    background: linear-gradient(47deg, tomato,white);
    padding: 25px;
    box-shadow: 0 10px 20px -5px rgba(115, 133, 128, 0.87) ;
}

.course-en .container .row{
    
    padding-bottom: 50px;

}
.course-en .container .col-sm{
    padding-bottom: 50px;
}
.course-en .card{
    border-left: 2px black solid;
}

.course-en .card:hover{
    border-left: 5px solid rgb(32, 167, 99);
    box-shadow: 0 10px 20px -5px rgba(115, 133, 128, 0.87) ;
    border-radius: 5px;
}

.course-ma{
    margin-top:70px ;
    margin-bottom: 70px;
}
.course-ma h1{
    text-align: center;
}
.course-ma .container{
    border-radius: 20px;
    overflow-y: scroll;
    height: 100vh;
    background: linear-gradient(47deg, rgb(71, 255, 102),white);
    padding: 25px;
    box-shadow: 0 10px 20px -5px rgba(115, 133, 128, 0.87) ;
}

.course-ma .container .row{
    
    padding-bottom: 50px;

}
.course-ma .container .col-sm{
    padding-bottom: 50px;
}
.course-ma .card{
    border-left: 2px black solid;
}

.course-ma .card:hover{
    border-left: 5px solid rgb(218, 205, 20);
    
    border-radius: 5px;
}

/**footer*/
.footer-distributed{
	background: linear-gradient(57deg,#f44336,#76ff03);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

/*.footer-distributed .fotimg{}*/
/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 50px;

	margin-right: 10px;
	margin-bottom: 5px;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}











