@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{padding: 0;
 margin: 0;
 border: aqua;
 text-decoration: none;

}
header{
    background: linear-gradient(30deg, #f50057 , #d500f9 ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
body{
background-color:
white;
width: 100%;
height: auto;
scroll-behavior: smooth;

}






/*nav new*/


/*.content{

	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}*/



.one{
    width: max-content;
    height: auto;
 
	margin:50px auto ;
	line-height:0;
}
 

section{ display: flex;  }

.left { width: 50%; height: auto; overflow: hidden; margin-top: 20px;}

.left img{  width: 600px;  height: 500px; }
.right{ width: 50%; 
    height: auto;
     color: white;
      text-align: center;
       margin-top: 50px;
        }

 .right h1{ text-align: center;
            font-family: 'Bungee Shade', cursive;

            color: #ffffff;
            font-size: 50px;
            
            text-transform: uppercase; } 

            
.right button{   font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(45deg,#f44336 ,#e91e63  ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ;
    margin-top: 20px; 
}

.footer-distributed{
	background: linear-gradient(57deg,#f44336,#76ff03);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

/*.footer-distributed .fotimg{}*/
/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 50px;

	margin-right: 10px;
	margin-bottom: 5px;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
















.preload{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 84, 90, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}
.astro{
    height: 200px;
    animation: astroo 1s ease-in-out infinite;
}
.preload-finish{
    opacity: 0;
    pointer-events: none;

}
@keyframes astroo{
    from{
        transform: translateY(0px);
    } 

    to{
        transform: translateY(50px);
    }

}

  .featur .container {
	overflow: hidden;}
	.featur .slider {
	  animation: slidein 30s linear infinite;
	  white-space: nowrap;}
	  .logos {
		width: 100%;
		display: inline-block;
		margin: 0px 0;}
		.fab {
		  width: calc(100% / 7);
		  animation: fade-in 0.5s 
			cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
		}
		@media (min-width: 320px) and (max-width: 480px) {
  
		.featur{
	margin: -500px;
}

			
		  }
		  
	
  
  
  @keyframes slidein {
	from {
	  transform: translate3d(0, 0, 0);
	}
	to {
	  transform: translate3d(-100%, 0, 0);
	}
  }
  
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  /* slider0.1**/
  .popular{
	  height: 300px;
	  margin-top: 50px;
	  
  }
  
  .topic{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin: 0 auto;
  }
  .topic h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 3px;
  }

  .slidder{
background-color: rgb(245, 243, 240);
width: 100%;
height: 200px;
overflow: hidden;
position: relative;
margin: auto;
box-shadow: 0 10px 20px -5px rgb(53, 235, 159);
display: flex;

  }
  .slide{
	  height: 200px;
	  display: flex;
	  align-items: center;
	  animation: scroll  50s linear infinite;
	  
  }
  
  .slide .crd{
	  height: 170px;
	  width: 500px;
	  padding: 0 30px 0 30px;
	  margin: 20px;
	  display: flex;
	  border-radius: 10px;
	  background-color: white;
	  
	  box-shadow: 0 10px 20px -5px rgba(214, 53, 235, 0.87);
	  
	  
	  }
	  .slide .crd:hover:nth-child(even){
		background-color : #a319c5;
		
	  }
	  .slide .crd:hover:nth-child(odd){
		background-color : #b61472;
		
	  }
	  
	  .slide .crd p img{
		  float:left;
		  width: 70px;
		margin-left: 20px;
	  }
	  .slide .crd p{
		  display: flex;
		  width: 100%;
		  margin-top: 20px;
		  font-size:30px;
		  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	  }
	  .slide .crd p a{
		  text-decoration: none;
		  margin-top: 35px;
		  padding-left: 50px;
		  color: rgb(55, 145, 230);
		  
		  
	  }

@keyframes scroll{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(calc(-500px * 8));
	}
}
.slidder::before, .slidder::after{
	height: 100px;
	width: 2px;
	position: absolute;
	content: "";
	
	z-index: 2;
}
.slidder::before{
	left: 0;
	top: 0;
}
.slidder::after{
	top: 0;
	right: 0;
	transform: rotateZ(180deg);
}


.container{
	margin-top: 60px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 30px;
}
.grid .card:hover{
	
	border: 5px solid lightblue;
}
.guide{
	padding-top: 7px;
	color: #9f2999f;
}

.grid .card i{
	
	font-size: 25px;
	border-radius: 50%;
}
.more{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
}

.wgrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 35px;
}

.wgrid .card{
	
	
	
	border: 1px solid rgba(146, 139, 139, 0.856);
	border-radius: 5px;
	
}
.wgrid .card:hover{
	background-color: #eeff41;
	box-shadow: 0 15px 20px -5px #7df5d1;
	border: 5px solid lightblue;
}
.wgrid .card div{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 10px;
}

.wgrid .card img{
	width: 180px;
	height: 200px;
	
}


.blog{
	background-color: #a4152c;
	height: 100vh;
	padding: 50px;
	overflow-y: scroll;
	margin-bottom: -350px;
	
}
.u-ex{
	border: #76ff03 solid 1px;
	
	font-family: 'Rancho', cursive;
	
}
.blog .row{
	padding-bottom: 50px;
}
.blog .card{

	box-shadow: 20px 20px 20px -5px rgba(24, 26, 25, 0.87);
}



@media (min-width: 320px) and (max-width: 480px) {
  
	.blog{
	background-color: #a4152c;
	height: 600px;
	padding: 50px;
	overflow-y: scroll;
	margin-bottom: -350px;
	
}
	

  }








  